<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 引入easyui的css文件 -->
    <link rel="stylesheet" href="themes/default/easyui.css" type="text/css"></link>
    <link rel="stylesheet" href="themes/icon.css" type="text/css"></link>
    <!-- 引入easyui的js文件，先引入jquery，再引入easyui -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>

</head>
<body>

<!-- 布局面板 -->
<div data-options="fit:true" id="cc" class="easyui-layout" style="width:600px;height:400px;">
    <!-- 区域面板 -->
    <div data-options="region:'north',title:'北',split:false,collapsible:true" style="height:100px;"></div>
    <div data-options="region:'south',title:'南',split:false,collapsible:true" style="height:100px;"></div>
    <div data-options="region:'east',title:'东',split:false,collapsible:false,minWidth:150,maxWidth:150"
         style="width:100px;"></div>
    <div data-options="region:'west',title:'西',split:false,collapsible:false,minWidth:150,maxWidth:150"
         style="width:100px;"></div>
    <div data-options="region:'center',title:'中',iconCls:'icon-ok',href:'/templates/test.html',collapsible:false"
         style="padding:5px;background:#95B8E7;"></div>
</div>
</body>
</html>